<div class="bg_base_lr">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="max-width:350px;"></div>
      <div class="col-sm-6" style="">
        <form name="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            Họ và Tên
            <input type="text" class="form-control" formControlName="name" placeholder="Họ và tên"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched">
              Mật khẩu nhất 6 ký tự và nhiều nhất 20 ký tự
            </div>
          </div>
          <div class="form-group">
            Tên Đăng Nhập
            <input type="text" class="form-control" formControlName="username" placeholder="Tên Đăng Nhập"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
              Mật khẩu nhất 6 ký tự và nhiều nhất 20 ký tự
            </div>
          </div>
          <div class="form-group">
            Email
            <input type="text" class="form-control" formControlName="email" placeholder="Email"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
              Sai định dạng Email
            </div>
          </div>
          <div class="form-group">
            Mật khẩu
            <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
              Mật khẩu gồm 6 ký tự
            </div>
          </div>

          <div class="form-group">
            Nhập lại mật khẩu
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="ConfirmPassword">
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="registerForm.hasError('notSame')&&registerForm.get('confirmPassword').touched">
            Password không giống
          </div>

          <div class="alert alert-success" role="alert" *ngIf="check==='true'">
            Đăng ký thành công
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="check==='false'">
            điền thông tin chưa đúng hoặc email đã tồn tại
          </div>
          <div class="form-group">
            <div>
            </div>
            <button class="btn btn-primary" type="submit">Đăng ký</button>
          </div>
        </form>
      </div>
      <div class="col-sm-3" style="max-width:350px;"></div>
    </div>
  </div>
</div>

