


<!-- CTA -->
<section id="cta" class="wrapper">
  <div class="inner">
    <h2 style="text-align: center">Dự án này đang trong quá trình hoàn thiện</h2>
    <p style="text-align: center" >
   là một mình băm nên chưa được đẹp lắm có gì anh chị em góp ý!!!!
    </p>
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2 style="text-align: center">Về chúng tôi</h2>
      <p style="text-align: center">
     Là một thằng khá ngu về IT nên làm vẫn còn chưa được đẹp lẫn sịn sò :))
      </p>
    </header>
    <div class="row">
        <div class="content col-md-4">
          <blockquote>
            <p>là một người thích vui chơi mà sắm sửa tôi nghĩ các bạn cũng như tôi :))</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <img src="../../../assets/image/download.jpg" height="200" width="300"/>
            </div>
            <p class="credit"> <strong>Thành Đại Ca</strong> <br> <span>chủ tịch hội đồng nát</span></p>
          </div>
        </div>
        <div class="content col-md-4">
          <blockquote>
            <p>là một người thích vui chơi mà sắm sửa tôi nghĩ các bạn cũng như tôi :))</p>
          </blockquote>
          <div class="author">
            <div class="image">
               <img src="../../../assets/image/download (1).jpg"
                                                                         height="200" width="300"/>
            </div>
            <p class="credit"> <strong>Hoàng Thành</strong> <br> <span> </span></p>
          </div>
        </div>
        <div class="content col-md-4">
          <a> chi tiết </a>
          <div class="author ">
            <div class="image">
              <img src="../../../assets/image/download (2).jpg" height="200" width="300"/>
            </div>
            <p class="credit"> <strong>Thành Đại Ca</strong> <br> <span> Front-End dev</span></p>
          </div>
        </div>
    </div>
  </div>
</section>




