<div class="container">
  <div class="row">

    <div class="col-md-2" id="sidebar">
      <div>List Category</div>
      <hr>
      <br>
      <div class="row" *ngFor="let category of listCategory"><a (click)="searchCategory(category.categoryId)" id="text">{{category.categoryName}}</a></div>
    </div>
    <div class="col-md-10">
      <div>List Product</div>
      <hr>
      <br>
      <div class="container">
  <!--        <div class="alert alert-danger" role="alert" id="shop_cart">-->
  <!--          <div><a routerLink="shopCart">-->
  <!--            <img src="../../assets/image/shopping_cart_icon.png">-->
  <!--          </a><u *ngIf="check">({{billService.index}})</u></div>-->
  <!--        </div>-->
        <div class="row">
          <div class="col-md-3 col-sm-6" *ngFor="let product of listProduct">
            <div class="product-grid4">
              <div class="product-image4">
                <a [routerLink]="['detailProduct',product.productId]">
                  <img class="pic-1" *ngFor="let picture of listPictures" [src]="picture.namePicture">
                </a>
                <ul class="social">
                  <li>
                    <button (click)="saveCart(product)" data-tip="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart"></i>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <h3 class="title">{{product.nameProduct}}</h3>
                <div class="price">
                  {{product.priceProduct}}  USD/Product
                </div>
                <a class="add-to-cart" [routerLink]="['pay', product.productId]">Mua ngay!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
