<div class="container">
  <section id="testimonial" class="testimonial-area">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center pb-20">
          <h3 class="title">Đội ngũ nhà phát triển</h3>
          <p class="text">Có những công nghệ mới được phát triển lên kèm theo nền tảng chưa được vững vàng nên tôi chưa thể làm được nhiều hiệu ứng đẹp và khó sử lý tôi mong một ngày nào đó tôi sẽ làm được tất cả mọi thứ như tôi đã mong đợi</p>
        </div> <!-- section title -->
      </div>
    </div>
    <br/>

    <div class='row justify-content-center'>
      <div class='col-md-offset-2 col-md-10'>

        <div id="quote-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
            <li data-target="#quote-carousel" data-slide-to="3"></li>
            <li data-target="#quote-carousel" data-slide-to="4"></li>
          </ol>

          <div class="row">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <blockquote>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-2 text-center">
                      <img class="img-circle" src="../assets/image/anh1.jpg"height="183" width="275" />
                    </div>
                    <div class="col-sm-6">
                      <p>Hãy cố gắng lên nào tràng trai nếu mày không đứng lên thì cũng chả có ai đỡ mày đâu nên hãy tự bản thân biết mình ở đâu để có thế cố gắng</p>
                      <small>Hoàng Thành</small>
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>
                </blockquote>
              </div>

              <div class="carousel-item">
                <blockquote>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-2 text-center">
                   <img
                           src="../../../../assets/image/download%20(5).jpg" height="200" width="300"/>
                    </div>
                    <div class="col-sm-6">
                      <p>Khi bạn có tiền trong tay chỉ có bạn quên mất mình là ai. Nhưng khi bạn không có đồng nào cả, cả thế giới sẽ quên đi bạn là ai, đó là cuộc sống.</p>
                      <small>Thành Đại Ca</small>
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>
                </blockquote>
              </div>

              <div class="carousel-item">
                <blockquote>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-2 text-center">
                      <img
                              src="../../../../assets/image/download%20(4).jpg" height="200" width="300"/>
                    </div>
                    <div class="col-sm-6">
                      <p>Đừng tự biến trái tim mình thành sắt đá thay vào đó hãy biến nó thành một trái tim biết yêu nhưng hãy nhớ đừng yêu ai quá để rồi một ngày kia phải hối hận những gì mình đã làm</p>
                      <small>Anh Nhớ Em Người Yêu Cũ</small>
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>
                </blockquote>
              </div>

              <div class="carousel-item">
                <blockquote>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-2 text-center"><img
                            src="../../../../assets/image/download%20(3).jpg" height="200" width="300"/>
                    </div>
                    <div class="col-sm-6">
                      <p>Đừng mong người đi rồi họ sẽ quay lại nếu muốn bước tiếp bên bạn họ đã không chọn con  đường ra đi!!!</p>
                      <p>Hãy mỉn cười với cuộc sống mình đang có vì có thể họ ra đi cũng sẽ là cơ hội cho chính bạn!</p>
                      <small>Thành</small>
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>
                </blockquote>
              </div>

              <div class="carousel-item">
                <blockquote>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-sm-2 text-center"><img
                            src="../../../../assets/image/download%20(2).jpg" height="200" width="300"/>
                    </div>
                    <div class="col-sm-6">
                      <p>Hãy đi theo con đường mình đã chọn đừng buông bỏ và chán nản cuộc sống này không cho chúng ta dừng lại!!</p>
                      <small>Sơn Thành</small>
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>
                </blockquote>
              </div>

            </div>
          </div>

          <a class="carousel-control-prev" href="#quote-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#quote-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </div>

  </section>
</div>

<script src="footer.js"></script>

